// Overides --------------------------------------------------
@for $i from 1 through length($sizes) {
    @include target(nth($sizes, $i), true) {
        $size: nth($sizes, $i);

        .#{$size}-show {
            display: block;
        }

        .#{$size}-hide {
            display: none !important;
        }
    }
}