// Spans --------------------------------------------------
@for $i from 1 through length($sizes) {
    @include target(nth($sizes, $i), true) {
        $size: nth($sizes, $i);
        $columns: nth($size-columns, $i);
        $loop-columns: nth($size-columns, length($size-columns));

        %#{$size}-span-base {
            display: block;
            float: left;
            @include span-margins($columns);
        }

        %#{$size}-span-full-base {
            @include span-full-margins();
        }

        %#{$size}-span-padding-base {
            @include span-padding($columns);
        }

        @for $x from 1 through $loop-columns {
            .#{$size}-#{$span-prefix}-#{$x}, .#{$span-prefix}-#{$x} {
                @extend %#{$size}-span-base;
                
                &.#{$span-prefix}-#{$span-full-suffix} {
                    @extend %#{$size}-span-full-base;
                }
                
                &.#{$span-prefix}-#{$span-padding-suffix} {
                    @extend %#{$size}-span-padding-base;
                }
            }
        }

        @for $x from 1 through $loop-columns {
            .#{$size}-#{$span-prefix}-#{$x}, .#{$span-prefix}-#{$x} {
                @include span-width($columns, $x);

                &.#{$span-prefix}-#{$span-full-suffix} {
                    @include span-full-width($columns, $x);
                }
            }
        }
    }    
}