// It makes math dead simple. - http://www.paulirish.com/2012/box-sizing-border-box-ftw/
* {
    Box-sizing: Border-box
}

// Bonus Clearfix Style --------------------------------
.clearfix {
    @include clearfix;
}

// universal show
.show {
    display: block;
}

// universal hide
.hide {
    display: none;
}