@import "../libraries/normalize/normalize.scss";

// ResponCSS
@import "../libraries/responcss/responcss.scss";

/*!
 * 
 *  Begin Project CSS
 *
 */

// Style Defaults ------------------------------

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

h1 {
    font-size:1.45em;
}

h2 {
    font-size:1.20em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: .9em;
    margin: .7em 0;
    font-weight: normal;
}

h5 {
    font-size: .8em;
    margin: .5em 0;
    font-weight: normal;
}

h6 {
    font-size: .7em;
    margin: .3em 0;
    font-weight: normal;
}

.docs {}

.type {
    margin: .2em 0;
}

.module, .extra {
    margin-left: 1em;

    .title {
        margin: .2em 0;
        font-size: 1.05em;
    }

    .version, .define {
        color: #999;
        font-size: .9em;
    }

    .description {
        font-size: .9em;
    }

    .events {
        margin-left: 1em;
    }
}

.extras {
    margin-left: 1em;
}


// Media Queries ------------------------------
// Phone
@include target('s') { 

}
 
// Tablet
@include target('m') { 

}
 
// Desktop
@include target('l') { 

}